.weather {
  width: 400px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  color: black;
  padding: 0px 20px 20px 20px;
  margin-top: 20px;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.Weather-Description {
  font-weight: 400;
  line-height: 2;
  font-size: 15px;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 75px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
}

.parameter-value {
  text-align: right;
  font-weight: 200;
  font-size: 18px;
}

.parameter-label-main{
  font-weight: 600;
}

.parameter-value-main{
  font-weight: 400;
}